@font-face {
    font-family: 'khaleefaregular';
    src: url('fonts/khaleefa-webfont.woff2') format('woff2'),
         url('fonts/khaleefa-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'inconsolatamedium';
    src: url('fonts/inconsolata-webfont.woff2') format('woff2'),
         url('fonts/inconsolata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.fullBackground {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/plates.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

.background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/plates.jpg);
    background-size: cover;
    background-position: center 70%;
    background-repeat: no-repeat;
    height: 30vh;
}

nav {
    display: flex;
    gap: 1.5rem;
    align-items: start;
}

nav button {
    font-family: 'khaleefaregular', sans-serif;
    font-size: 2rem;
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    color: white;
    height: auto;
    transition: 0.5s;
}

nav button:hover {
    scale: 1.1;
}

@keyframes showHeader {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.info-header {
    text-align: center;
    animation: showHeader 2s ease-out forwards;
}

.info-restaurant {
    font-family: 'khaleefaregular', sans-serif;
    color: white;
    font-size: 4rem;
}

.info-button {
    font-family: 'inconsolatamedium', sans-serif;
    font-size: 2rem;
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}

.info-button:hover {
    scale: 1.1;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding-bottom: 2rem;
    line-height: 1.2;
}

.menu-header,
.about-header {
    font-family: 'khaleefaregular', sans-serif;
    font-size: 3rem;
    padding: 0.5rem;
    text-align: center;
    animation: showHeader 2s ease-out forwards;
}

.menu-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    justify-self: center;
    gap: 1rem;
    font-family: 'inconsolatamedium', sans-serif;
    font-size: 1.3rem;
    animation: showHeader 2s ease-out forwards;
}

.menu-section:nth-child(2),
.menu-section:nth-child(4) {
    flex-direction: row-reverse;
}

.image-container {
    width: 20vw;
    height: 30vh;
    border-radius: 5px;
}

.image-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dish-info,
.section-dishes {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.dish-name {
    font-family: 'khaleefaregular', sans-serif;
}

.about-info,
.information-section {
    font-family: 'inconsolatamedium', sans-serif;
    font-size: 1.3rem;
    width: 90%;
    animation: showHeader 2s ease-out forwards;
}

.about-info {
    text-align: center;
}

.information-section {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.contacts-info-header,
.working-hours-header {
    font-family: 'khaleefaregular', sans-serif;
    font-size: 1.5rem;
}

@media screen and (max-width: 780px ){
    .menu-section,
    .menu-section:nth-child(2),
    .menu-section:nth-child(4) {
        flex-direction: column-reverse;
    }

    .image-container {
        width: 100%;
        height: 50vh;
        align-self: center;
    }
}

@media screen and (max-width: 480px) {
    #content {
        gap: 1rem;
        width: 90%;
        margin: auto;
    }

    header {
        justify-content: center;
    }

    .information-section {
        flex-direction: column;
        text-align: center;
    }

    .info-restaurant {
        font-size: 3rem;
    }
}